.course-info {
	border: 1px solid #31c5ac;
	border-radius: 2px;
	padding: 20px 40px 40px 40px;
}

.course-info h1 {
	text-align: center;
	margin-bottom: 40px;
}

.course-info ul {
	list-style-type: none;
}

.course-info span {
	font-weight: bold;
}

.course-info li {
	margin-bottom: 10px;
}

.course-info a {
	color: #000;
}

.authors li {
	margin-bottom: 5px;
}

.course-info-detailed {
	display: grid;
	grid-template: 1fr / 2fr 1fr;
	gap: 60px;
}
